@model AllViewModel<PostSummaryViewModel>

@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Blog",
        Current = "Blog",
        HasSearchField = true,
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704889/sa3vhx2bn0rvbrws5wi5.jpg"
    };

}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach (var post in Model.Entities)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a asp-area="Blog" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id" class="block-20" style="background-image: url('@(post.Image?.SecureUri??"/images/image_1.jpg")');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><p>@post.CreatedOn.ToString("dd.MM.yyyy")</p></div>
                                <div>
                                    <a asp-area="Blog" asp-controller="Blog" asp-action="All" asp-route-author="@post.AuthorName" class="meta-chat">@post.ShortAuthorName</a>
                                </div>
                                <div><a class="meta-chat"><span class="icon-chat"></span> @post.CommmentsCount</a></div>
                            </div>
                            <h3 class="heading mt-3"><a asp-area="Blog" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h3>
                            <p>@post.ShortContent</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @if (Model.HasPreviousPage)
                        {
                            <li><a asp-area="Blog" asp-controller="Blog" asp-action="All" asp-route-page="@(Model.Page-1)">&lt;</a></li>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="active"><span>@i</span></li>
                            }
                            else
                            {
                                <li><a asp-area="Blog" asp-controller="Blog" asp-action="All" asp-route-page="@i">@i</a></li>
                            }
                        }
                        @if (Model.HasNextPage)
                        {
                            <li><a asp-area="Blog" asp-controller="Blog" asp-action="All" asp-route-page="@(Model.Page+1)">&gt;</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>