@model ICollection<PostSummaryViewModel>

@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Blog",
        Current = "Blog",
        HasSearchField = true
    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach (var post in Model)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a asp-area="Blog" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id" class="block-20" style="background-image: url('/images/image_1.jpg');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><p>@post.CreatedOn.ToString("dd.MM.yyyy")</p></div>
                                <div><a asp-area="Blog" asp-controller="Blog" asp-action="ByAuthor" asp-route-author="@post.AuthorName" class="meta-chat">@post.ShortAuthorName</a></div>
                                <div><a class="meta-chat"><span class="icon-chat"></span> @post.CommmentsCount</a></div>
                            </div>
                            <h3 class="heading mt-3"><a asp-area="Blog" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h3>
                            <p>@post.ShortContent</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>