@using Microsoft.CodeAnalysis.Operations
@model PostViewModel
@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = Model.Title,
        Parent = "Blog",
        ParentName = "Блог",
        Current = "Blog Details",
        CurrentName = "Пост",
        HasSearchField = false,
        ImageUri = Model.Image?.SecureUri ?? "https://res.cloudinary.com/aguzelov/image/upload/v1544704888/pesdqm5dvy1qpcnnvin5.jpg"
    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Title</h2>
                <p>@Model.Content</p>

                <div class="about-author d-flex justify-content-between p-2 bg-light">
                    <div class="desc align-self-md-center ">
                        <h5>от @Model.Author.UserName</h5>
                    </div>
                    @if (User.Identity.Name == Model.Author.UserName)
                    {
                        <div class="desc align-self-md-center ">
                            <a asp-area="Blog" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        </div>
                    }
                </div>
                @{
                    var commentsCount = Model.Comments.Count();
                    var commentsText = "Коментари";
                    if (commentsCount == 1)
                    {
                        commentsText = "Коментар";
                    }
                }
                <div class="pt-5 mt-5">
                    <h4 class="mb-5">@commentsCount @commentsText</h4>
                    <ul class="comment-list">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <i class="fas fa-user-circle fa-4x"></i>
                                </div>
                                <div class="comment-body">
                                    <h3>@(comment.Author)</h3>
                                    <div class="meta">@(comment.CreatedOn)</div>
                                    <p>@(comment.Content)</p>
                                </div>
                            </li>
                        }
                        <!-- END comment-list -->
                    </ul>

                    <div class="comment-form-wrap pt-5">
                        <h4 class="mb-5">Оставете коментар</h4>
                        <form asp-area="Blog" asp-controller="Blog" asp-action="AddComment" method="post" class="p-1 ">
                            <input type="text" name="PostId" value="@Model.Id" hidden />

                            <div class="form-group">
                                <label asp-for="@Model.CreateCommentViewModel.Author"></label>
                                <input name="@nameof(Model.CreateCommentViewModel.Author)" class="form-control" asp-for="@Model.CreateCommentViewModel.Author">
                                <span asp-validation-for="@Model.CreateCommentViewModel.Author"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateCommentViewModel.Email"></label>
                                <input name="@nameof(Model.CreateCommentViewModel.Email)" class="form-control" asp-for="@Model.CreateCommentViewModel.Email">
                                <span asp-validation-for="@Model.CreateCommentViewModel.Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CreateCommentViewModel.Message"></label>
                                <textarea name="@nameof(Model.CreateCommentViewModel.Message)" asp-for="@Model.CreateCommentViewModel.Message" cols="30" rows="10" class="form-control"></textarea>
                                <span asp-validation-for="@Model.CreateCommentViewModel.Message"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form asp-area="Blog" asp-controller="Blog" asp-action="Search" method="get" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" name="searchTerm" class="form-control" placeholder="Търсене">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Последни постове</h3>
                    <partial name="~/Views/Shared/_RecentBlogPartial.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>