@model DropDownMenuViewModel

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
        @Model.DisplayName
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="margin: -10px" asp-area="@Model.ControllerName" asp-controller="@Model.ControllerName" asp-action="All">Всички</a>
            </li>
            <li class="nav-item"><a class="nav-link" style="margin: -10px" asp-area="@Model.ControllerName" asp-controller="@Model.ControllerName" asp-action="Create">Нов</a></li>
        </ul>
    </div>

}
else
{
    <a asp-area="@Model.ControllerName" asp-controller="@Model.ControllerName" asp-action="All" class="nav-link">@Model.DisplayName</a>
}