@{
    var model = (ICollection<RecentBlogViewModel>)ViewData["RecentBlogs"];
}

@foreach (var post in model)
{
    <div class="block-21 mb-4 d-flex">
        <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
        <div class="text">
            <h3 class="heading"><a asp-area="Blog" asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h3>
            <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span>@post.CreatedOn.ToString("dd.MM.yyyy")</a></div>
                <div><a href="#"><span class="icon-person"></span>@post.ShortAuthorName</a></div>
                <div><a href="#"><span class="icon-chat"></span> @post.CommmentsCount </a></div>
            </div>
        </div>
    </div>
}